{% extends "adminlte_full/skeleton.html" %}
{% import "adminlte_full/macros.html" as adminlte_macro with context %}

{% block body_attributes %} class="hold-transition login-page"{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('adminlte_full.static', filename='plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
{% endblock %}

{% block body %}
<div class="login-box">
  <div class="login-logo">
    {% block logo %}
      {% if logo_url %}
        <a href="{{ logo_url }}">{{ config.ADMINLTE_BRAND_HTML|safe }}</a>
      {% else %}
        <div>{{ config.ADMINLTE_BRAND_HTML|safe }}</div>
      {% endif %}
    {% endblock logo %}
  </div>

  <div class="card">
    <div class="card-body login-card-body">
      {{ adminlte_macro.render_flash_messages() }}
      {% block messages %}{% endblock messages %}
      {% block page_content %}{% endblock page_content %}
      {% block custom_links %}{% endblock custom_links %}
    </div>
  </div>
</div>
{% endblock %}